# Celery
#   Changelog: http://celery.readthedocs.org/en/latest/changelog.html
celery==3.1.11

# Django
#   Changelog: https://www.djangoproject.com/weblog/
django==1.6.5
django==1.5.8   # rq.filter: >=1.5, <1.6
django==1.4.13  # rq.filter: >=1.4, <1.5

# Tastypie
#   Changelog: https://django-tastypie.readthedocs.org/en/latest/release_notes/index.html
django-tastypie==0.11.0

# Django REST framework
#   Changelog: http://www.django-rest-framework.org/topics/release-notes
djangorestframework==2.3.13

# Flask
#   Changelog: http://flask.pocoo.org/docs/changelog/
flask==0.10.1

# Graphite
#   Changelog: http://graphite.readthedocs.org/en/latest/releases.html
graphite-web==0.9.12

# Keyring
#   Changelog: https://github.com/jaraco/keyring/blob/master/CHANGES.rst
keyring==3.8

# Paramiko
#   Changelog: http://paramiko-www.readthedocs.org/changelog.html
paramiko==1.14.0
paramiko==1.13.1    # rq.filter: >=1.13, <1.14
paramiko==1.12.4    # rq.filter: >=1.12, <1.13
paramiko==1.11.6    # rq.filter: >=1.11, <1.12

# Pillow
#   Changelog: https://github.com/python-imaging/Pillow/blob/master/CHANGES.rst
#   Note: replaces obsolete PIL
pillow==2.4.0

# PyCrypto - The Python Cryptography Toolkit
#   Changelog: https://www.dlitz.net/software/pycrypto/
pycrypto==2.6.1

# PyMongo
#   Changelog: http://api.mongodb.org/python/current/changelog.html
pymongo==2.7

# PyYAML
#   Security: http://www.cvedetails.com/vulnerability-list/vendor_id-13115/year-2014/Pyyaml.html
pyyaml==3.11

# Setuptools
#   Changelog: https://pypi.python.org/pypi/setuptools/#changes
#   Note: replaces obsolete distribute
setuptools==3.6

# SQLAlchemy
#   CVE: http://cve.mitre.org/cgi-bin/cvekey.cgi?keyword=sqlalchemy
#   Changelog: http://docs.sqlalchemy.org/en/latest/changelog/
sqlalchemy==0.9.4

# Tornado
#   CVE: http://cve.mitre.org/cgi-bin/cvekey.cgi?keyword=sqlalchemy
#   Changelog: http://www.tornadoweb.org/en/stable/releases.html
tornado==3.2.1
