# The ssl.match_hostname() function from Python 3.4
#   https://bitbucket.org/brandon/backports.ssl_match_hostname/commits/698cd6dcca10addb922f5c74412151efb075cae2
backports.ssl_match_hostname==3.4.0.2

# Beaker
#   http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2012-3458
beaker==1.6.4

# Celery
#   Changelog: http://celery.readthedocs.org/en/latest/changelog.html
celery==3.1.13

# Django
#   Changelog: https://www.djangoproject.com/weblog/
django==1.6.5
django==1.5.8   # rq.filter: >=1.5, <1.6
django==1.4.13  # rq.filter: >=1.4, <1.5

# eyeD3
#   http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2014-1934
eyeD3==0.7.4

# Tastypie
#   Changelog: https://django-tastypie.readthedocs.org/en/latest/release_notes/index.html
django-tastypie==0.11.1

# Django REST framework
#   Changelog: http://www.django-rest-framework.org/topics/release-notes
djangorestframework==2.3.14

# Defused XML
#   Changelog: https://pypi.python.org/pypi/defusedxml
defusedxml==0.4.1

# Flask
#   Changelog: http://flask.pocoo.org/docs/changelog/
flask==0.10.1

# Graphite
#   Changelog: http://graphite.readthedocs.org/en/latest/releases.html
graphite-web==0.9.12

# Keyring
#   Changelog: https://github.com/jaraco/keyring/blob/master/CHANGES.rst
keyring==3.8

# Logilab Common
#   http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2014-1839
#   http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2014-1838
logilab-common==0.62.0

# LXML
#   Security: http://cve.mitre.org/cgi-bin/cvekey.cgi?keyword=lxml
lxml==3.3.5

# MoinMoin
#   http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2012-6081
moin==1.9.7

# Paramiko
#   Changelog: http://paramiko-www.readthedocs.org/changelog.html
paramiko==1.14.0
paramiko==1.13.1    # rq.filter: >=1.13, <1.14
paramiko==1.12.4    # rq.filter: >=1.12, <1.13
paramiko==1.11.6    # rq.filter: >=1.11, <1.12

# Pillow
#   Changelog: https://github.com/python-imaging/Pillow/blob/master/CHANGES.rst
#   Note: replaces obsolete PIL
pillow==2.5.1

# PyCrypto - The Python Cryptography Toolkit
#   Changelog: https://www.dlitz.net/software/pycrypto/
pycrypto==2.6.1

# Python libfribidi interface
#   http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2012-1176
pyfribidi==0.11.0

# PyMongo
#   Changelog: http://api.mongodb.org/python/current/changelog.html
pymongo==2.7.1

# Python Bugzilla
#   http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-2191
python-bugzilla==1.1.0

# Python Glance Client
#   http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-4111
python-glanceclient==0.13.1

# Python Keystone Client
#   http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2014-0105
python-keystoneclient==0.10.1

# Python Swift Client
#   http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-6396
python-swiftclient==2.2.0

# PyYAML
#   Security: http://www.cvedetails.com/vulnerability-list/vendor_id-13115/year-2014/Pyyaml.html
pyyaml==3.11

# Requests
#   Changelog: https://pypi.python.org/pypi/requests/
requests==2.3.0

# Rply
#   http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2014-1604
rply==0.7.2

# Setuptools
#   Changelog: https://pypi.python.org/pypi/setuptools/#changes
#   Note: replaces obsolete distribute
setuptools==5.4.1

# SQLAlchemy
#   CVE: http://cve.mitre.org/cgi-bin/cvekey.cgi?keyword=sqlalchemy
#   Changelog: http://docs.sqlalchemy.org/en/latest/changelog/
sqlalchemy==0.9.7

# Tornado
#   CVE: http://cve.mitre.org/cgi-bin/cvekey.cgi?keyword=sqlalchemy
#   Changelog: http://www.tornadoweb.org/en/stable/releases.html
tornado==4.0

# Tryton
#   News: http://www.tryton.org/news/index.html
#   CVEs: http://cve.mitre.org/cgi-bin/cvekey.cgi?keyword=tryton
tryton==3.2.2
tryton==3.0.5     # rq.filter: >=3.0, <3.2
tryton==2.8.8     # rq.filter: >=2.8, <3.0
tryton==2.6.11    # rq.filter: >=2.6, <2.8
tryton==2.4.13    # rq.filter: >=2.4, <2.6

# Tweepy
#   http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2012-5825
tweepy==2.3
