# The ssl.match_hostname() function from Python 3.4
#   https://bitbucket.org/brandon/backports.ssl_match_hostname/commits/698cd6dcca10addb922f5c74412151efb075cae2
backports.ssl_match_hostname==3.5.0.1

# Bcrypt
#   3.1.0: Fixed a regression where $2a hashes were vulnerable to a wraparound bug.
bcrypt==3.1.4

# Beaker
#   http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2012-3458
beaker==1.9.1

# Bleach
#   https://github.com/mozilla/bleach/issues/298
bleach==2.1.3

# Bottle
#   CVE-2014-3137
#   CVE-2016-9964
bottle==0.12.13

# Celery
#   Changelog: http://celery.readthedocs.org/en/latest/changelog.html
celery==4.1.0
celery==3.1.26.post2    # rq.filter: >=3.1, <4.0

# Cloudflare Scrape
#   CVE-2017-7235
cfscrape==1.9.5

# PyCA - Cryptography
#   Changelog: https://cryptography.io/en/latest/changelog/
cryptography==2.2.2

# Django
#   Changelog: https://www.djangoproject.com/weblog/
django==2.0.5
django==1.11.13  # rq.filter: >=1.11, <2.0
django==1.8.19   # rq.filter: >=1.8,  <1.9

# Djblets
#   -> CVE-2014-3995
djblets==1.0.5

# eyeD3
#   http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2014-1934
eyeD3==0.8.5

# Tastypie
#   Changelog: https://django-tastypie.readthedocs.org/en/latest/release_notes/index.html
django-tastypie==0.14.1

# Django REST framework
#   Changelog: http://www.django-rest-framework.org/topics/release-notes
djangorestframework==3.8.2

# Defused XML
#   Changelog: https://pypi.python.org/pypi/defusedxml
defusedxml==0.5.0

# Flask
#   Changelog: http://flask.pocoo.org/docs/changelog/
flask==1.0.2

# Graphite
#   Changelog: http://graphite.readthedocs.org/en/latest/releases.html
#   http://graphite.readthedocs.io/en/latest/releases/1_0_0.html#security-notes
graphite-web==1.1.3

# hpack
#   CVE-2016-6581
hpack==3.0.0

# Ironic Inspector
#   CVE-2015-5306
#   https://bugs.launchpad.net/ironic-inspector/+bug/1506419
ironic-inspector==7.2.0

# JSNAPy
#   CVE-2018-0023
jsnapy==1.3.1

# Keyring
#   Changelog: https://github.com/jaraco/keyring/blob/master/CHANGES.rst
keyring==12.2.0

# OpenStack Keystone Middleware
#   Security: http://cve.mitre.org/cgi-bin/cvekey.cgi?keyword=keystonemiddleware
#   CVE-2014-7144
#   CVE-2015-1852
keystonemiddleware==5.0.0

# Logilab Common
#   http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2014-1839
#   http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2014-1838
logilab-common==1.4.1

# LXML
#   Security: http://cve.mitre.org/cgi-bin/cvekey.cgi?keyword=lxml
lxml==4.2.1

# Mercurial
#   CVE-2017-9462
Mercurial==

# MoinMoin
#   http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2012-6081
#   https://moinmo.in/SecurityFixes
moin==1.9.9

# Paramiko
#   Changelog: http://paramiko-www.readthedocs.org/changelog.html
paramiko==2.4.1
paramiko==2.2.3     # rq.filter: >=2.2,  <2.3
paramiko==2.1.5     # rq.filter: >=2.1,  <2.2
paramiko==2.0.8     # rq.filter: >=2.0,  <2.1
paramiko==1.18.5    # rq.filter: >=1.18, <2

# Pillow
#   Note: replaces obsolete PIL
#   https://www.djangoproject.com/weblog/2015/jan/02/pillow-security-release/
pillow==5.1.0

# Plone
#   CVE-2017-5524
plone==5.1.2
plone==4.3.17    # rq.filter: >=4, <5

# priority
#   CVE-2016-6580
priority==1.3.0

# PyCrypto - The Python Cryptography Toolkit
#   Changelog: https://www.dlitz.net/software/pycrypto/
pycrypto==2.6.1

# Python libfribidi interface
#   http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2012-1176
pyfribidi==0.11.0

# PyMongo
#   Changelog: http://api.mongodb.org/python/current/changelog.html
pymongo==3.6.1

# Python Bugzilla
#   http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-2191
python-bugzilla==2.1.0

# Python Glance Client
#   http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-4111
#   Changelog: http://docs.openstack.org/developer/python-glanceclient/
python-glanceclient==2.11.0

# Python GnuPG
#   CVE-2014-1929
#   CVE-2014-1928
#   CVE-2014-1927
#   CVE-2013-7323
python-gnupg==0.4.2

# Python JWT
#   https://auth0.com/blog/2015/03/31/critical-vulnerabilities-in-json-web-token-libraries/
python-jwt==3.1.0

# Python Keystone Client
#   CVE-2014-0105
#   CVE-2015-1852
python-keystoneclient==3.16.0

# Python Swift Client
#   http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-6396
python-swiftclient==3.5.0

# PyYAML
#   Security: http://www.cvedetails.com/vulnerability-list/vendor_id-13115/year-2014/Pyyaml.html
pyyaml==3.12

# Requests
#   Changelog: https://pypi.python.org/pypi/requests/
requests==2.18.4

# Rply
#   http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2014-1604
rply==0.7.5

# Python-RSA
#   CVE-2016-1494
rsa==3.4.2

# Setuptools
#   Changelog: http://pythonhosted.org/setuptools/history.html
#   Note: replaces obsolete distribute
setuptools==39.1.0

# SQLAlchemy
#   CVE: http://cve.mitre.org/cgi-bin/cvekey.cgi?keyword=sqlalchemy
#   Changelog: http://docs.sqlalchemy.org/en/latest/changelog/
sqlalchemy==1.2.7
sqlalchemy==1.0.19    # rq.filter: >=1.0, <1.1

# Tablib
#  CVE-2017-2810
tablib==0.12.1

# Tornado
#   CVE: http://cve.mitre.org/cgi-bin/cvekey.cgi?keyword=tornado
#   Changelog: http://www.tornadoweb.org/en/stable/releases.html
tornado==5.0.2

# Tryton
#   News: http://www.tryton.org/news/index.html
#   CVEs: http://cve.mitre.org/cgi-bin/cvekey.cgi?keyword=tryton
#   CVE-2015-0861
tryton==4.8.0
tryton==4.2.11     # rq.filter: >=4.2, <4.4
tryton==4.0.15    # rq.filter: >=4.0, <4.2
tryton==3.8.20    # rq.filter: >=3.8, <4.0
tryton==3.6.20    # rq.filter: >=3.6, <3.8
tryton==3.4.17    # rq.filter: >=3.4, <3.6

# Trytond
#   News: http://www.tryton.org/news/index.html
#   CVE-2015-0861
#   CVE-2017-0360
trytond==4.8.0
trytond==4.2.11     # rq.filter: >=4.2, <4.4
trytond==4.0.15    # rq.filter: >=4.0, <4.2
trytond==3.8.17    # rq.filter: >=3.8, <4.0
trytond==3.6.19    # rq.filter: >=3.6, <3.8
trytond==3.4.18    # rq.filter: >=3.4, <3.6

# Tweepy
#   http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2012-5825
tweepy==3.6.0

# urllib3
#   CVE-2016-9015
urllib3==1.22
